

img + h3{
    color: blue;
    margin:-5em 0 0 0;
}

h2, footer{
    display : flex;
    justify-content: center;
    color: blue;    
}

#main-container-item{
	color: dodgerblue;
}



nav{
     background-color: dodgerblue; 
   /*  background-image: url("images/california.jpg"); */
    height: 2em; 
}

nav > ul{
    display : flex;
    justify-content: space-around;
    align-items: right; 
    flex-direction: row;
    flex-flow: row;
}

li{
   order: -1;
   list-style-type: none;
   color: white; 
   font-size: large;

}

a{
    color: white; 
    text-decoration: none;   
}

img{
    height: 100%;
    width: 100%;
    animation: slider 9s infinite linear;
}

.container-body{
    display: flex;
}

@keyFrames slider{
	0%{background-image: url("images/Destination.jpg");}
	35%{ background-image: url("images/source.jpg");}
	75%{background-image: url("images/jonathan-bean-Ejpx_sdKEKo-unsplash.jpg");}
	
}

h3::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }

a:hover {
    color: #FF00FF;
}

input[type=submit]{
    background-color: red;
    color: white;
    height: 20px;
        
}


label{
	color: black;
}



