@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

img + h3{
    color: blue;
    margin:-5em 0 0 0;
}

h2, footer{
    display : flex;
    justify-content: center;
    color: blue;    
}

h2, li, h3{
    font-family: 'Dancing Script', cursive;
}

nav{
    background-color: blue;
    height: 2em; 
}

nav > ul{
    display : flex;
    justify-content: space-around;
    align-items: right; 
    flex-direction: row;
    flex-flow: row;
}

li{
   order: -1;
   list-style-type: none;
   color: white; 
   font-size: large;

}

a{
    color: white; 
    text-decoration: none;   
}

img{
    height: 100%;
    width: 100%;
}

.container-body{
    display: flex;
}

h3::first-letter {
    color: #ff0000;
    font-size: xx-large;
  }

a:hover {
    color: #FF00FF;
}

input[type=submit]{
    background-color: red;
    color: white;
        
}